@media screen and (max-width: 1000px) {
	h1 {font-size: 3em;}

	table {width: 100%; min-width: initial;}
}

@media screen and (max-width: 650px) {
	nav #box-links {display: none;}
	#h404 {font-size: 7em;}
	#p404 {transform: translate(0, -30px);}
	.page-tables {width: 100%;}
}

@media screen and (min-width: 1000px) {
	.page-transfert {
		text-align: center;
	}

	.page-transfert table {
		display: inline-block;
		width: auto;
		margin: 10px;
		min-width: auto;
		vertical-align: top;
	}
}