/* @font-faces*/

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Heebo";
    src: url("./fonts/Heebo-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    src: url("./fonts/Proxima Nova Alt Bold.otf") format("truetype");
}

@font-face {
    font-family: "Raleway";
    src: url("./fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Changa";
    src: url("./fonts/Changa-VariableFont_wght.ttf") format("truetype");
}

/* rouge: d1363a */

/* css pour toutes les balises html de base / les gros conteneurs de strucutre */

body {
    margin: 0;
    font-family: 'Roboto', 'Open Sans', sans-serif;
	background: #eee;
	overflow-x: hidden;
}

nav {
    height: 80px;
	background: #fff;
	position: relative;
}

nav #nav-logo {
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

nav #nav-logo span {
    width: 50px;
    height: 50px;
    background: #ccc;
    display: inline-block;
    border-radius: 100%;
	margin: 15px 40px;
	position: relative;
	overflow: hidden;
	border: none;
}

nav #box-links {
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

nav #box-links a {
    color: #555;
    font-family: 'Open Sans';
    text-decoration: none;
    display: inline-block;
	padding-bottom: 27px;
	padding-top: 28px;
	transition-duration: .2s;
	width: 100px;
	text-align: center;
    border-bottom: 0px solid transparent;
}

nav #box-links a:hover {
    color: #111;
    border-bottom: 4px solid #f08f1d;
    box-sizing: border-box;
}

nav #box-links a[href='administration/deconnexion'] {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

nav #box-links a[href='administration/deconnexion'] > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	border: 2px solid #777;
	border-radius: 100%;
}

nav #box-links a[href='administration/deconnexion'] > span::after {
	content: '';
	background: #fff;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-60%, -50%);
	width: 5px;
	height: 10px;
	z-index: 1;
}

nav #box-links a[href='administration/deconnexion'] > span span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #777;
	z-index: 2;
	transition-duration: .2s;
}

nav #box-links a[href='administration/deconnexion'] > span span::after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -45%) rotate(45deg);
	width: 5px;
	height: 5px;
	border-top: 2px solid #777;
	border-right: 2px solid #777;
}

nav #box-links a[href='administration/deconnexion']:hover {
	border: none;
}

nav #box-links a[href='administration/deconnexion']:hover span {
	border-color: #f08f1d;
}

nav #box-links a[href='administration/deconnexion']:hover > span span {
	left: 60%;
}


footer {
    background: #222;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    padding: 15px 0;
    min-height: 250px;
	font-size: 13px;
	border-bottom: 7px solid #f08f1d;
	box-sizing: border-box;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #333;
    display: inline-block;
}

footer ul li {
    /* margin: 10px 0; */
    display: inline-block;
    padding: 10px;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #666;
    position: relative;
    transition-duration: .1s;
    font-family: 'Raleway';
    font-size: 11px;
    letter-spacing: .08em;
    font-weight: 800;
    text-transform: uppercase;
}

footer a:hover {
    color: #ccc;
    text-decoration: underline;
}

footer.absolute-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}

#content {
    padding: 10px 0;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Changa';
    text-transform: uppercase;
    user-select: none;
}