#connection-form {
	width: 500px;
	margin: 0 auto 40px auto;
	text-align: center;
}

#connection-form input {
	display: block;
	margin: 10px auto;
	border-radius: 3px;
	border: 1px solid #999;
	padding: 7px;
	width: 200px;
	background: #fff;
	transition-duration: .01s;
}

#connection-form input:focus {
	border-color: #f08f1d;
}

#connection-form button {
	background: linear-gradient(#e6e6e5, #b8b8b5);
	border: 1px solid #999;
	border-radius: 3px;
	width: 100px;
	padding: 5px;
	cursor: pointer;
}

#connection-form button:hover {
	filter: brightness(105%);
}

#connection-state {
	position: fixed;
	top: -100px;
	left: 50%;
	background: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 4px;
	transform: translateX(-50%);
	animation: connectionStateAnim 5s .5s forwards;
}

#connection-state.success {
	background: #77b255;
}

#connection-state.fail {
	background: #dd2e44;
}

@keyframes connectionStateAnim {
	0% {}
	10% {top: 20px;}
	90% {top: 20px;}
	100% {top: -100px;}
}

p {
	font-family: 'Open Sans';
}

.btn {
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	font-size: 1em;
	border-radius: 3em;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	font-family: 'Changa';
}

.btn::before {
	content: '';
	background: #f08f1d;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

.btn::after {
	content: '';
	width: 110%;
	height: 140%;
	position: absolute;
	top: 120%;
	background: #333;
	transform: rotate(5deg);
	left: -5%;
	transition-duration: .3s;
	z-index: -1;
}

.btn:hover::after {
	top: -20%;
}

.btn:hover {
	text-decoration: underline;
}

.home-ctn {
	margin: 10px auto;
	width: 150px;
	display: block;
}
