#
# HTACCESS
#

# securite
# Désactive affichage des dossiers sans index
Options -Indexes
IndexIgnore *


# Activation du mod rewrite d'Apache 
RewriteEngine On


## redirection vers https
#RewriteCond %{HTTPS} off
# Réécriture de index.html vers index.php 
RewriteCond %{REQUEST_URI} !^index\.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9\-\/]*)?$ index.php?$1 [L]